#topText {
    text-align: center;
    margin: auto;
}

#top {
    background: whitesmoke;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}


#box {
    background: cornflowerblue;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

#theText {
    text-align: left;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.2em;
    padding-right: 0.2em;
    padding: 0.2em 0.2em 0.2em 0;
    width: 352px;
    font-size: 18px;
}
#submit {
        background-color: green; 
    border: 1;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#resetText {
            background-color: red; 
    border: 1;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#lineButton {
    background-color: black; 
    border: 1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.buttonLink {
        font-size: 40px;

}